{% extends "products/base.html" %}
{% block content %}
  <h1>Cart</h1>
  <table class="table table-hover table-bordered text-center">
      <thead>
        <tr>
          <th>Product</th>
          <th>Update quantity</th>
          <th>Delete</th>
          <th>Quantity</th>
          <th>Unit price</th>

          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr>
              <td>{{ product.name }}</td>
              <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.update }}
                  <input type="submit" value="Update">
                  {% csrf_token %}
                </form>
              </td>
              <td><a href="{% url 'cart:cart_remove' product.id %}">Delete</a></td>
              <td>
                  {{ item.quantity }}
              </td>
              <td class="num">${{ item.price }}</td>
              <td class="num">${{ item.total_price }}</td>
            </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Amount</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
      </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'home' %}" style="text-decoration: none;">
      <input type="submit" value="In store">
    </a>
    <a href="#" style="margin-left: 9px;">
      <input type="submit" value="Place an order" onclick="/#/">
    </a>
  </p>
{% endblock %}


