{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'products/main.css' %}">

   <title>Title</title>
 </head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " aria-label="Eleventh navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Main page</a>
      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="cart navbar-nav me-auto mb-2 mb-lg-0">
            {% with total_items=cart|length %}
            {% if user.is_authenticated %}
            {% if cart|length > 0 %}
            <a href="{% url 'cart:cart_detail' %}">
                {{ total_items }} units, ${{ cart.get_total_price }}
            </a>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'cart:cart_detail' %}" class="nav-link con" style="text-decoration: underline;" >Cart</a>
            </li>
            {% endif %}
            {% endif %}
            {% endwith %}
        </ul>
            {% if not user.is_authenticated %}
              <a href="{% url 'login' %}">
                <button class="btn btn-outline-warning">Log in</button>
              </a>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link con" >{{ user }}</a>
              </li>
            </ul>
            <a href="{% url 'exit' %}">
              <button class="btn btn-outline-warning">Log out</button>
            </a>
            {% endif %}
      </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <main>
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </div>
</div>
</body>
</html>